html, body{
    margin: 0;
    height: 100%;
    overflow: auto;
    background-image: url(images/contact_bg.jpg);
    background-size: cover;
}

input{
    display: block;
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: rgb(247, 241, 233);
}

textarea{
    display: block;
    width: 90%;
    margin-bottom: 15px;
    background-color: rgb(247, 241, 233);
}

.form{
    margin: auto;
    width: 50%;
    border: 2px solid black;
    padding: 30px;
    background-color: rgba(186, 186, 186, 0);
    backdrop-filter: blur(5px);
    margin-bottom: 30px;
}

#submit{
    width: fit-content;
    margin: auto;
    border-radius: 25%;
}

.follow img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}

.follow{
    text-align: center;
}