html, body{
    margin: 0;
    height: 100%;
    overflow: auto;
    background-image: url(images/products_bg.jpg);
    background-size: cover;
}

.pay{
    border: 1px solid white;
    margin: auto;
    width: 50%;
    text-align: center;
    font-weight: 800;
    font-size: x-large;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
}

.pay img{
    width: 50%;
    height: 50%;
}